<!-- CHECKBOX TEMPLATE -->

<label class="checkbox">
    <input class="checkbox__input" type="checkbox">
    <div class="checkbox__state">
        <div class="checkbox__control">
            <svg class="checkbox__icon" width="24" height="24">
                <use xlink:href="assets/images/icons.svg#check" />
            </svg>
        </div>
        <div class="checkbox__label">Default</div>
    </div>
</label>

<label class="checkbox">
    <input class="checkbox__input" type="checkbox" disabled>
    <div class="checkbox__state">
        <div class="checkbox__control">
            <svg class="checkbox__icon" width="24" height="24">
                <use xlink:href="assets/images/icons.svg#check" />
            </svg>
        </div>
        <div class="checkbox__label">Disabled</div>
    </div>
</label>