/* FONTS */


/* Roboto */

@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('assets/fonts/Roboto-Medium.ttf');
}

/* Inter */

@font-face {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: Inter;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('assets/fonts/Inter-Medium.ttf');
}