/* Base */

// @import 'normalize';
@import 'fonts';
@import 'variables';
@import 'mixins';

/* Components */

@import '../../components/index';

/* Blocks */

@import '../../blocks/index';


*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}