/* Widths */

$phone-width: 375px;
$tablet-width: 768px;
$desktop-width: 1110px;

/* Fonts */

$main-font: 'Inter', sans-serif;
$second-font: 'Roboto', sans-serif;

/* Colors */

$white: hsl(0deg 0% 100%);
$black: hsl(218deg 11% 15%);
$pink: hsl(339deg 88% 74%);
$purple: hsl(255deg 78% 60%);
$blue: hsl(228deg 81% 59%);
$dark-blue: hsl(213deg, 37%, 32%);
$dark-purple: hsl(255deg 66% 47%);
$eggplant: hsl(214deg 37% 32%);
$red: hsl(360deg 86% 59%);
$grey-1: hsl(210deg, 20%, 98%);
$grey-2: hsl(203deg, 13%, 88%);
$grey-3: hsl(206deg, 11%, 71%);
$grey-4: hsl(210deg 9% 31%);
$grey-5: hsl(225deg, 40%, 98%);
$error: $red;
$success: $blue;
$primary: $blue;
$secondary: $purple;
$shadow: $black;
$active: $red;

/* Background */

$background-color-main: $grey-1;
$background-color-second: $white;

/* Text */

$text-color: $grey-3;
$text-color-hover: $black;
$text-color-active: $black;

/* Logo */

$logo-color: $black;

/* Others */

$header-height: 4rem;