/* Button */

.button {
    cursor: pointer;

    width: 182px;
    height: 48px;
    padding-inline: 15px;

    font-family: $second-font;
    font-size: 1rem;
    font-weight: 500;
    line-height: 18.75px;

    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;


    transition: all 200ms ease-in-out;

    &:is(:active, :focus-visible) {
        transform: translateY(4px);
        border-color: $black;
        transition: all 200ms ease-in-out;
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

/* Primary */

.button--primary {
    color: $white;
    background-color: $primary;

    &:is(:hover, :focus-visible) {
        background-color: $dark-blue;
    }
}

/* Secondary */

.button--secondary {
    color: $white;
    background-color: $purple;

    &:is(:hover, :focus-visible) {
        background-color: $dark-purple;
    }
}

/* Alternate */

.button--alternate {
    color: $grey-4;
    background-color: $white;
    border: 1px solid $grey-3;

    &:hover {
        border-color: $black;
    }

    &:disabled {
        opacity: 0.3;
    }
}