<!-- HISTOGRAM TEMPLATE -->

<div class="histogram">
    <div class="histogram__header">
        <div class="histogram__information">
            <h2 class="histogram__title">Total orders</h2>
            <span class="histogram__total">50254</span>
        </div>
        <a class="histogram__link" href="#">View all</a>
    </div>
    <div class="histogram__chart">
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column histogram__column--m"></div>
        <div class="histogram__column"></div>
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column histogram__column--l"></div>
        <div class="histogram__column"></div>
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column histogram__column--m"></div>
        <div class="histogram__column"></div>
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column"></div>
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column histogram__column--l"></div>
        <div class="histogram__column"></div>
        <div class="histogram__column histogram__column--l"></div>
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column"></div>
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column histogram__column--m"></div>
        <div class="histogram__column"></div>
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column histogram__column--l"></div>
        <div class="histogram__column"></div>
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column histogram__column--m"></div>
        <div class="histogram__column"></div>
        <div class="histogram__column histogram__column--l"></div>
        <div class="histogram__column histogram__column--s"></div>
        <div class="histogram__column"></div>
    </div>
</div>