/* Container */

.container {
    width: 100%;
    max-width: 1110px;

    // height: 100%;
    padding-inline: 16px;

    @media screen and (min-width: $desktop-width) {
        margin-inline: auto;
    }
}