/* Footer */

.footer {
    padding-block: 16px;
    color: var(--text-color);
    text-align: center;
    background-color: var(--background-color-second);

    &--component {
        background-color: var(--background-color);
    }

    @media screen and (min-width: $tablet-width) {
        padding-block: 32px;
    }
}

/* Inner */

.footer__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-content: center;

    max-width: 640px;
    margin: 0 auto;

    @media screen and (min-width: $tablet-width) {
        row-gap: 32px;
    }
}

/* Title */

.footer__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;

    @media screen and (min-width: $tablet-width) {
        font-size: 38px;
        line-height: 48px;
    }
}

.footer--component .footer__content {
    font-size: 12px;
    line-height: 18px;
    color: $grey-3;
    text-transform: uppercase;
}