// /* Radio */

.radio {
    position: relative;

    display: flex;
    column-gap: 12px;
    align-items: center;

    font: 400 16px/24px $main-font;

    // line-height: 0;
    color: $black;
}

// /* Input */

.radio__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

/* Control */

.radio__control {
    cursor: pointer;
    position: relative;
    width: 28px;
    height: 28px;

    &::before,
    &::after {
        content: '';

        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        display: block;

        box-sizing: border-box;
        width: 28px;
        height: 28px;

        background-color: transparent;
        border: 2px solid transparent;
        border-radius: 0;
        border-radius: 100%;
    }

    &::after {
        transform: scale(0);
        transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.8);
    }

    &::before {
        border-color: $grey-2;
    }
}

/* States */

.radio__input:checked ~ .radio__control::before {
    border-color: $primary;
}

.radio__input:checked ~ .radio__control::after {
    transform: scale(0.6);
    background-color: $primary;
}

.radio__input:disabled ~ .radio__control {
    pointer-events: none;
}

.radio__input:disabled ~ .radio__control::after {
    transform: scale(0.6);
    background-color: $grey-2;
}
