<!-- RADIO TEMPLATE -->

<label class="radio">
    <input class="radio__input" name="test" type="radio" tabindex="-1">
    <span class="radio__control"></span>
    <span class="radio__text">Default</span>
</label>
<label class="radio">
    <input class="radio__input" name="test" type="radio" tabindex="-1" checked>
    <span class="radio__control"></span>
    <span class="radio__text">Checked</span>
</label>
<label class="radio">
    <input class="radio__input" name="test" type="radio" tabindex="-1" disabled>
    <span class="radio__control"></span>
    <span class="radio__text">Disabled</span>
</label>