<!-- RADIO TEMPLATE -->

<label class="radio">
    <input class="radio__input" name="test" type="radio">
    <div class="radio__state">
        <div class="radio__control">
            <div class="radio__inner"></div>
        </div>
        <div class="radio__label">Default</div>
    </div>
</label>
<label class="radio">
    <input class="radio__input" name="test" type="radio" checked>
    <div class="radio__state">
        <div class="radio__control">
            <div class="radio__inner"></div>
        </div>
        <div class="radio__label">Checked</div>
    </div>
</label>
<label class="radio">
    <input class="radio__input" name="test" type="radio" disabled>
    <div class="radio__state">
        <div class="radio__control">
            <div class="radio__inner"></div>
        </div>
        <div class="radio__label">Disabled</div>
    </div>
</label>