/* FONTS */


/* Roboto */

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Roboto-Medium.ttf');
}

/* Inter */

@font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Inter-Medium.ttf');
}