/* VARIABLES */


/* Fonts */

$main-font: 'Inter', sans-serif;
$second-font: 'Roboto', sans-serif;

/* Typography */



/* Colors */

$white: hsl(0, 0%, 100%);
$black: hsl(218, 11%, 15%);
$pink: hsl(339, 88%, 74%);
$purple: hsl(255, 78%, 60%);
$blue: hsl(228, 81%, 59%);
$dark-purple: hsl(255, 66%, 47%);
$eggplant: hsl(214, 37%, 32%);
$blue: hsl(228, 81%, 59%);
$dark-blue: hsl(228, 69%, 45%);
$red: hsl(360, 86%, 59%);
$grey-1: hsl(210, 17%, 98%);
$grey-2: hsl(203, 13%, 88%);
$grey-3: hsl(208, 11%, 71%);
$grey-4: hsl(210, 9%, 31%);
$grey-5: hsl(220, 33%, 98%);

$error: $red;
$success: $blue;

$primary: $blue;
$secondary: $purple;

$shadow: $black;