<!-- INPUT TEMPLATE -->

<div class="input">
    <label class="input__label" for="label">Success</label>
    <div class="input__control input__control--success">
        <input class="input__field" id="label" type="text"
            placeholder="Artem">
        <div class="input__image input__image input__image--success">
            <svg class="input__icon">
                <use xlink:href="assets/images/icons.svg#success" />
            </svg>
        </div>
        <div class="input__image input__image--error">
            <svg class="input__icon">
                <use xlink:href="assets/images/icons.svg#error" />
            </svg>
        </div>
    </div>
</div>
<div class="input">
    <label class="input__label" for="label">Error</label>
    <div class="input__control input__control--error">
        <input class="input__field" id="label" type="text"
            placeholder="Malafeev">
        <div class="input__image input__image input__image--success">
            <svg class="input__icon">
                <use xlink:href="assets/images/icons.svg#success" />
            </svg>
        </div>
        <div class="input__image input__image--error">
            <svg class="input__icon">
                <use xlink:href="assets/images/icons.svg#error" />
            </svg>
        </div>
    </div>
</div>
<div class="input">
    <label class="input__label" for="label">Default</label>
    <div class="input__control input__control">
        <input class="input__field" id="label" type="text"
            placeholder="Placeholder">
        <div class="input__image input__image input__image--success">
            <svg class="input__icon">
                <use xlink:href="assets/images/icons.svg#success" />
            </svg>
        </div>
        <div class="input__image input__image--error">
            <svg class="input__icon">
                <use xlink:href="assets/images/icons.svg#error" />
            </svg>
        </div>
    </div>
</div>